# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
            - name: github-issues-automation
  # You may pin to the exact commit or the version.
  # uses: Tavh/github-issues-automation@58ea35c114305d839468cfa28e28a980e1939fd6
  uses: Tavh/github-issues-automation@0.0.1
          
